@model IEnumerable<Alumnos>
@{
    ViewData["Title"] = "Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administrar Alumnos</h1>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Alumnos Actuales</h2>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-dark d-flex" asp-action="Crear" asp-controller="Alumnos">Agregar Alumno</a>
        </div>
    </div>

    <div class="row">
        @if (Model.Count() == 0)
        {
            <div>
                <h1 class="text-danger">No hay existen alumnos</h1>
            </div>
        }
        else
        {
            <h1 class="text-success">Alumnos Actuales</h1>
            <br />
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(x => x.Id)</th>
                        <th>@Html.DisplayNameFor(x => x.NombreCompleto)</th>
                        <th>@Html.DisplayNameFor(x => x.CursoActual)</th>
                        <th>@Html.DisplayNameFor(x => x.Telefono)</th>
                        <th>@Html.DisplayNameFor(x => x.Email)</th>
                        <th>Editar/Borrar</th>
                    </tr>
                </thead>

                <tbody>
                    @*foreach para poder recorrer el modelo*@
                    @foreach (var alumnos in Model)
                    {
                        <tr>
                            <td>@alumnos.Id</td>
                            <td>@alumnos.NombreCompleto</td>
                            <td>@alumnos.CursoActual</td>
                            <td>@alumnos.Telefono</td>
                            <td>@alumnos.Email</td>
                            <td>
                                <a class="btn btn-outline-success" asp-action="Editar" asp-controller="Alumnos" asp-route-id="@alumnos.Id">Editar</a>

                                <a class="btn btn-outline-danger" asp-action="Borrar" asp-controller="Alumnos" asp-route-id="@alumnos.Id">Borrar</a>
                            </td>
                        </tr>
                    }
                </tbody>


            </table>
            
        }
    </div>

</div>

