@model IEnumerable<AppMvcLoginReg.Models.Curso>
@{
    ViewData["Title"] = "Cursos";
}

<p>
    <a class="btn-floating btn-large green darken-1" asp-action="Create"><i class="material-icons">school</i></a>
</p>

    <table class="responsive-table highlight z-depth-3 blue lighten-5">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.NombreCurso)</th>
                <th>@Html.DisplayNameFor(model => model.NumeroDeClases)</th>
                <th>@Html.DisplayNameFor(model => model.ValorCursos)</th>
                <th>@Html.DisplayNameFor(model => model.FechaInicioCurso)</th>
                <th>@Html.DisplayNameFor(model => model.FechaFinalizacionCurso)</th>
            </tr>
            
        </thead>
        <tbody>
            @*Aca uso codigo para mostrar los registros de mi base de datos *@
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCurso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroDeClases)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorCursos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicioCurso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFinalizacionCurso)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.IdCurso">Editar</a>
                </td>
                <td>
                    <form asp-action="Delete" asp-controller="Curso" asp-route-id="@item.IdCurso">
                        
                        <input type="hidden" asp-for="@item.IdCurso" />
                        <div class="col s6 m6">
                            <button class="btn waves-effect waves-light red accent-4" type="submit" name="action">
                                Borrar
                                <i class="material-icons right ">send</i>
                            </button></div>

                    </form>
                        @*<a asp-action="Delete" asp-controller="Curso" asp-route-id="@item.IdCurso">Borrar</a>*@
                </td>
            </tr>
            }
           
        </tbody>
    </table>
